html {
    background-color: #f4f1f1;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #282829;
    font-style: italic;
}

header {
    font-size: 24px;
    padding-top: 30px;
    color: #282829;
    padding-left: 100px;
    font-family: 'Playfair Display', sans-serif;
}

footer {
    color: #6c9575;
    text-align: center;
    padding-right: 210px;
    padding-bottom: 20px;
    padding-top: 70px;
}

.blog-main {
    padding-right: 150px;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

nav>ul {
    flex-direction: column;
}

li {
    list-style: none;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #075217;
}

.justify-space--between {
    justify-content: space-between;
}

.sec1 {
    margin-bottom: 40px;
}

.sec1 li {
    list-style: square;
    padding: 0 15px;
}

nav {
    position: sticky;
    top: 0;
    padding: 15px;
}

nav li {
    margin: 0 20px;
    text-transform: uppercase;
    color: #6c9575;
}

#dropdown {
    display: none;
    position: absolute;
}

li:hover #dropdown {
    display: block;
}

#root {
    border: solid 3px #eee;
    background: #fff;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: min-content auto auto min-content;
    grid-template-areas: "navigation header" "navigation main" "navigation main" "navigation footer";
    margin: 100px 250px 100px 250px;
}

nav {
    grid-area: navigation;
}

nav>ul {
    flex-direction: column;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.aboutpara {
    padding-right: 50px;
    margin-top: 30px;
    line-height: 1.5em;
}


/* Form */

span+span {
    margin-left: 15px;
}

form span+div {
    margin-top: 20px;
}

textarea {
    margin-top: 10px;
}

form p {
    margin-bottom: 15px;
}

form>div+div {
    margin-top: 25px;
}

label {
    padding-top: 10px
}

.flex--column {
    padding-right: 30px
}

#contact-form {
    max-width: 880px;
    font-size: 13px
}

#root {
    border: solid 3px #eee;
    background: #fff;
    /* Establish a grid. */
    display: grid;
    /* Set up 2 columns - first is a width of 12rems, the other is decided by the browser. */
    grid-template-columns: 12rem auto;
    grid-template-rows: min-content auto auto min-content;
    /* Named areas. */
    grid-template-areas: "navigation header" "navigation main" "navigation main" "navigation footer";
    margin: 100px 250px 100px 250px;
}

nav {
    grid-area: navigation;
}

nav>ul {
    flex-direction: column;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    float: left;
}


}
.aboutlearn {
    text-align: center;
    padding-right: 90px;
    padding-bottom: 20px;
    font-weight: bold;
}
.aboutpara {
    padding-right: 50px;
    margin-top: 30px;
    line-height: 1.5em;
}
figcaption {
    text-align: center;
    padding-right: 170px;
    width: 500px;
}